<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyApi" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:8080/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <proxy>
      <reverseProxy enabled="true" preserveHostHeader="false" />
    </proxy>
  </system.webServer>
</configuration>
