[Unit]
Description=spring-sample service
After=network.target

[Service]
User=appuser
WorkingDirectory=/opt/apps/spring-sample
EnvironmentFile=/opt/apps/spring-sample/.env
ExecStart=/usr/bin/java -jar /opt/apps/spring-sample/spring-sample.jar --spring.config.additional-location=application.yml
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
